<div class="main-content">
  <div class="navbar">
    <mat-toolbar>
      <img class="logo" src="../../assets/images/project-logo.png" height="50px" /> MyBrand</mat-toolbar>
  </div>
  <div class="main">
    <mat-card>
      <mat-card-title>
        <img src="../../assets/images/login-page.png" width="100px">
      </mat-card-title>

      <mat-card-content>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button>LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>